.sidebar {
    width: 350px;
    background-color: #0b4f63;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
    height: 100vh;
}

.sidebar-header {
    padding: 5px 15px 2px;
    display: flex;
}

.logo-img {
    width: 120px;
    height: 90px;
}

.logo-text {
    font-size: 1.3rem;
    color: #ffffff;
}

.sidebar-nav {
    flex: 1;
    padding: 5px 0;
}

.nav-item a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 15px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    background: transparent;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 3px;
}

.nav-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.sidebar-footer {
    padding: 0 25px 30px;
    margin-top: auto;
    background: #0b4f63;
}

.logout-button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 25px;
    background-color: rgba(91, 88, 88, 0.17);
    border-radius: 5px;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    float: left;
    margin-top: 25px;
}