.sidebar {
    width: 400px;
    background-color: #0b4f63;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
    height: 100vh;
}

.sidebar-header {
    padding: 5px 15px 2px;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo-img {
    width: 120px;
    height: 90px;
}

.logo-text {
    font-size: 1.5rem;
    color: #ffffff;
}

.logo-text-highlight {
    color: #f59e0b;
}

.sidebar-nav {
    flex: 1;
    padding: 5px 0;
}

.sidebar-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 15px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    background: transparent;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 3px;
}

.nav-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    background-color: #0b4f63;
    transition: background-color 0.3s;
}

.nav-item a.active {
    background-color: rgba(245, 158, 11, 0.17);
    color: #f59e0b;
}

.nav-item .active .nav-text {
    color: #f9aa21;
}

.nav-item a.active .nav-icon,
.nav-item a.active .nav-text {
    filter: brightness(0) saturate(100%) invert(64%) sepia(89%) 
        saturate(1842%) hue-rotate(0deg) brightness(101%) contrast(101%);
    color: #f59e0b;
}

.nav-item a:hover {
    background-color: rgba(245, 158, 11, 0.17);
}

.nav-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.sidebar-footer {
    /* padding: 0 30px 36px; */
    margin-top: auto;
    background: #0b4f63;
}

.logout-button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 25px;
    background-color: rgba(91, 88, 88, 0.17);
    border-radius: 5px;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    float: left;
    margin-top: 25px;
}

@media (max-width: 1200px) {
    .sidebar {
        width: 320px;
    }

    .nav-item a {
        font-size: 24px;
        padding: 15px 20px;
        gap: 12px;
    }

    .logout-button {
        font-size: 24px;
    }
}