<section id="login" class="login-page">
  <div class="split-container">
    
    <!-- PARTIE GAUCHE : LOGO + TEXTE -->
    <div class="left-panel">
      <div class="left-content">
        <img src="assets/fae3c052cb9ef742681bdee0fd53c88f855d60bf.png" 
             alt="KafoFond Logo" 
             class="left-logo">

        <h1 class="left-title">
          <span class="logo-text-green">Kafo</span><span class="logo-text-orange">Fond</span>
        </h1>
      </div>
    </div>

    <!-- PARTIE DROITE : FORMULAIRE -->
    <div class="right-panel">
      <main class="login-form-panel">
          <h1 class="form-title">Connexion</h1>
          <p class="form-subtitle">C'est le moment de se connecter</p>

          <!-- Erreurs -->
          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
          <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

          <form (ngSubmit)="login(loginForm)" #loginForm="ngForm" class="login-form">

              <div class="input-group">

                <input 
                  type="email" 
                  id="email"
                  name="email"
                  placeholder="Email"
                  [(ngModel)]="email"
                  required
                  #emailField="ngModel"
                  [disabled]="isLoading">

                  <img src="assets/398_112.svg" class="right-icon" alt="">
              </div>

              <div class="input-group password-group">
                <input 
                  [type]="showPassword ? 'text' : 'password'"
                  id="password"
                  name="password"
                  placeholder="Mot de passe"
                  [(ngModel)]="password"
                  required
                  [disabled]="isLoading">
                <button 
                  type="button" 
                  class="password-toggle"
                  (click)="togglePasswordVisibility()">
                  <img [src]="showPassword ? 'assets/398_117.svg' : 'assets/398_118.svg'" />
                </button>
              </div>

              <div class="form-options">
                <label class="remember-me">
                    <input type="checkbox" [disabled]="isLoading">
                    Se souvenir de moi
                </label>
                <a 
                  href="javascript:void(0)" 
                  class="forgot-password"
                  [class.disabled-link]="!emailField?.valid || isLoading" (click)="sendResetCode()">
                  Mot de passe oublié ?
                </a>
              </div>

              <button type="submit" class="submit-btn" [disabled]="isLoading">
                <span *ngIf="!isLoading">Se connecter</span>
                <span *ngIf="isLoading">Connexion en cours...</span>
              </button>

          </form>
      </main>
    </div>

  </div>
</section>
